<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
=======
      <th>Title</th>
      <th>Content</th>
>>>>>>> d37d7472caf77aed29ed69d7a925d3d25e1a29c8
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
<<<<<<< HEAD
=======
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
>>>>>>> d37d7472caf77aed29ed69d7a925d3d25e1a29c8
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
