<p id="notice"><%= notice %></p>

<<<<<<< HEAD
=======
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

>>>>>>> d37d7472caf77aed29ed69d7a925d3d25e1a29c8
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
